<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-custom">

  <!-- Dashboard Tab -->
  <ion-tab title="home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Accounts" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/accounts">
    <ion-nav-view name="tab-accounts"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Setting" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/setting">
    <ion-nav-view name="tab-setting"></ion-nav-view>
  </ion-tab>


</ion-tabs>
